.content {
  position: relative;
}

.content__title {
  font-family: $han-font-family;
  color: $text-color;
  font-size: rem(50);
  font-weight: $bold;
  position: absolute;
  left: calc(50% - #{rem(528)});
  top: rem(182);
  @include mq(md){
    position: initial;
    left: initial;
    font-size: rem(24);
    margin-top: rem(30);
    text-align: center;
  }
}

.content__title span {
  display: inline-block;
  position: relative;
}

.content__title span:nth-child(1) {
  transform: rotate(-14deg);
  top: rem(35);
  @include mq(md){
    transform: initial;
    top: initial;
  }
}
.content__title span:nth-child(2) {
  transform: rotate(-12deg);
  top: rem(21);
  left: rem(-3);
  @include mq(md){
    transform: initial;
    top: initial;
    left: initial;
  }

}
.content__title span:nth-child(3) {
  transform: rotate(-6deg);
  top: rem(4);
  left: rem(-7);
  @include mq(md){
    transform: initial;
    top: initial;
    left: initial;
  }
}
.content__title span:nth-child(4) {
  transform: rotate(7deg);
  top: rem(1);
  left: rem(-10);
  @include mq(md){
    transform: initial;
    top: initial;
    left: initial;
  }
}

.content__inner {
  padding-top: rem(260);
  max-width: rem(1410);
  width: 100%;
  margin: auto;
  @include mq(md){
    padding-top: rem(40);
    max-width: rem(440);
  }
}

.content__items {
  position: relative;
  padding-top: 49.64539%;
  background-image: url(../images/common/content_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  @include mq(md){
    padding-top: 0;
    background-image: none;
  }
}

.content__item {
  position: absolute;
  @include mq(md){
    position: initial;
    padding: 0 rem(20);
    margin: auto;
  }
}

.content__item:nth-child(1){
  top: rem(-160);
  left: calc(50% - #{rem(7)});
  transform: translateX(-50%);
  @include mq(md){
    top: initial;
    left: initial;
    transform: initial;
  }
}

.content__item:nth-child(2){
  top: rem(286);
  left: rem(18);

}

.content__item:nth-child(3){
  top: rem(383);
  right: rem(9);
  @include mq(md){
    top: initial;
    right: initial;
  }
}

.content__item + .content__item {
  @include mq(md){
    margin-top: rem(24);
  }
}

.content__img {
  position: relative;
  width: rem(427);
  @include mq(md){
    width: 100%;
  }
}

.content__subtitle {
  font-size: rem(24);
  line-height: (40 / 24);
  font-weight: $bold;
  color: $text-color;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
